bankapp-jdbc/.settings
bankapp-jdbc/bin
bankapp-jdbc/.classpath
bankapp-jdbc/.project

bankapp-web/.settings
bankapp-web/build
bankapp-web/WebContent
bankapp-web/.classpath
bankapp-web/.project

credit_card/.settings
credit_card/build
credit_card/WebContent
credit_card/.classpath
credit_card/.project

currency/.settings
currency/build
currency/WebContent
currency/.classpath
currency/.project

news_app/.settings
news_app/build
news_app/WebContent
news_app/.classpath
news_app/.project

